[user]
	name = GiovanePS
	email = giovanespace@gmail.com
[core]
	editor = nvim
	pager = delta
	excludesfile = /home/gio/.gitignore_global
[init]
	defaultBranch = master
[diff]
	wsErrorHighlight = all
	colorMoved = default
[pull]
	rebase = true
[merge]
  conflictstyle = diff3

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
